@model IEnumerable<CNPM.Models.CourseViewModel>
@{
    Layout = null;
}

@{
    foreach (var item in Model)
    {
        <a class="collapse-item" href="@Url.Action("Course","Student", new { id = item.id})" title="@item.subject_name">@item.code</a>
    }
}
